h1,h2,h3,h4,h5,h6,ol,ul,p{
    margin: 0px;
    padding: 0px;
}
body{
    background: #000000e6;
    color: white;
}
.all{}
.header{
    display: inline-flex;
}
.logo{
    display: inline-flex;
}
.logoimage{
    margin-left: 18px;
    margin-top: 5px;
}
.logoimage img{
    width: 94px;
}
.logoheading{
    margin-top: 21px;
}
.logoheading h1{
    text-transform: capitalize;
    font-size: 30px;
    color: #90c317;
    text-shadow: 1px 1px 2px orange;
}
.menubar{
    margin-top: 25px;
}
.menubar nav{}
.menubar nav ul{}
.menubar nav ul li{
    display: inline;
}
.sorejaw{
    margin-left: 45px;
}
.menubar nav ul li a{
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 24px;
    margin-right: 3px;
    font-family: 'Courgette', cursive;
}
.menubar nav ul li a:hover{}
.hbutton{
    width: 104px;
    height: 35px;
    padding-left: 3px;
    padding-top: 3px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-top: 20px;
    margin-left: 120px;
}
.hbutton button{
    padding: 8px;
    width: 101px;
    background: orange;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.part-2{
    font-family: 'Roboto', 'sans-serif';
}
.p2-c1{
    height: 300px;
}
.p2-c1 h1{
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    font-family: 'Graduate', 'serif';
}
.p2-c1 p{
    text-align: center;
    font-size: 19px;
    margin-top: 40px;
}
.p2-c1 h5{
    text-align: center;
    font-size: 19px;
    font-weight: 100;
}
.p2-c2{
    display: inline-flex;
    height: 450px;
}
.p2-c2-a{
    width: 300px;
    background: transparent;
    margin-left: 150px;
}
.p2-c2-a h1{
    font-size: 35px;
    padding-right: 100px;
    font-family: 'Graduate', 'serif';
}
.p2-c2-a p{
    font-size: 19px;
    margin-top: 17px;
    text-align: justify;
}
.p2-c2-a h2{
    margin-top: 25px;
    font-size: 20px;
}
.p2-c2-a h2 a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.p2-c2-a h2 a:hover{
    border-bottom: 2px solid orange;
    transition: 0s;
}
.p2-c2-b{
    width: 300px;
    background: transparent;
    margin-left: 80px;
}
.p2-c2-b h1{
    font-size: 35px;
    padding-right: 100px;
    font-family: 'Graduate', 'serif';
}
.p2-c2-b p{
    font-size: 19px;
    margin-top: 17px;
    text-align: justify;
}
.p2-c2-b h2{
    margin-top: 25px;
    font-size: 20px;
}
.p2-c2-b h2 a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.p2-c2-b h2 a:hover{
    border-bottom: 2px solid orange;
    transition: 0s;
}
.p2-c2-c{
    width: 300px;
    background: transparent;
    margin-left: 80px;
}
.p2-c2-c h1{
    font-size: 35px;
    padding-right: 100px;
    font-family: 'Graduate', 'serif';
}
.p2-c2-c p{
    font-size: 19px;
    margin-top: 17px;
    text-align: justify;
}
.p2-c2-c h2{
    margin-top: 25px;
    font-size: 20px;
}
.p2-c2-c h2 a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}
.p2-c2-c h2 a:hover{
    border-bottom: 2px solid orange;
    transition: 0s;
}
.p2-c3{}
.p2-c3-img{
    width: 1090px;
    height: 500px;
    margin-left: 110px;
    margin-bottom: 60px;
}
.p2-c3-img-img{
    width: 1090px;
    height: 500px;
    background: url(../images/part2-p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.p2-c3-img-img a{
    text-decoration: none;
    color: #ff0000a8;
}
.p2-c3-img-img a i{
    font-size: 50px;
    margin-left: 605px;
    margin-top: 300px;
}
.p2-c3-img-img a:hover{
    color: red;
}
.p2-c3 h1{
    font-size: 46px;
    margin-left: 110px;
    font-family: 'Graduate', 'serif';
}
.p2-c3 p{
    margin-left: 110px;
    font-size: 20px;
    padding-right: 150px;
    margin-top: 15px;
    margin-bottom: 175px;
}
.p2-c4{
    display: inline-flex;
}
.p2-c4-a{
    width: 485px;
    margin-left: 105px;
    margin-right: 51px;
}
.p2-c4-a1{}
.p2-c4-a1 h1{
    font-size: 33px;
    font-family: 'Graduate', 'serif';
}
.p2-c4-a1 p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.p2-c4-a2{
    display: inline-flex;
}
.p2-c4-a2 h1{
    font-size: 25px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    font-family: 'Graduate', 'serif';
}
.p2-c4-a2 h1 a{
    text-decoration: none;
    color: white;
}
.p2-c4-a2 h2{
    font-size: 25px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.p2-c4-a2 h2 a{
    text-decoration: none;
    color: white;
}
.p2-c4-a2 h3{
    font-size: 25px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.p2-c4-a2 h3 a{
    text-decoration: none;
    color: white;
}
.p2-c4-a3{}
.p2-c4-a3 h2{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 35px;
}
.p2-c4-a4{}
.p2-c4-a4 ul{
    font-size: 18px;
    margin-bottom: 100px;
}
.p2-c4-a4 ul li{}
.p2-c4-b{
    width: 700px;
    height: 400px;
}
.p2-c4-b img{
    width: 100%;
    height: 100%;
}



@media only screen and (min-width:320px) and (max-width:425px){
   
    body{
      
    }
    .all{}
    .header{
       
    }
    .logo{
        margin-left: 22px;
    }
    .logoimage{
       
    }
    .logoimage img{
        
    }
    .logoheading{
      
    }
    .logoheading h1{
        font-size: 44px;
    }
    .menubar{
       display: none;
    }
    .menubar nav{}
    .menubar nav ul{}
    .menubar nav ul li{
      
    }
    .sorejaw{
      
    }
    .menubar nav ul li a{
      
    }
    .menubar nav ul li a:hover{}
    .hbutton{
        display: none;
    }
    .hbutton button{
       
    }
    
    .part-2{
        
    }
    .p2-c1{
        margin-top: -37px;
    }
    .p2-c1 h1{
      
    }
    .p2-c1 p{
     
    }
    .p2-c1 h5{
        
    }
    .p2-c2{
        display: inline-block;
    }
    .p2-c2-a{
      
    }
    .p2-c2-a h1{
       
    }
    .p2-c2-a p{
      
    }
    .p2-c2-a h2{
       
    }
    .p2-c2-a h2 a{
       
    }
    .p2-c2-a h2 a:hover{
        
    }
    .p2-c2-b{
      
    }
    .p2-c2-b h1{
     
    }
    .p2-c2-b p{
   
    }
    .p2-c2-b h2{
   
    }
    .p2-c2-b h2 a{
        
    }
    .p2-c2-b h2 a:hover{
 
    }
    .p2-c2-c{
       
    }
    .p2-c2-c h1{
     
    }
    .p2-c2-c p{
       
    }
    .p2-c2-c h2{
        
    }
    .p2-c2-c h2 a{
       
    }
    .p2-c2-c h2 a:hover{
        
    }
    .p2-c3{}
    .p2-c3-img{
       
    }
    .p2-c3-img-img{
       
    }
    .p2-c3-img-img a{
        
    }
    .p2-c3-img-img a i{
       
    }
    .p2-c3-img-img a:hover{
     
    }
    .p2-c3 h1{
    
    }
    .p2-c3 p{
     
    }
    .p2-c4{
      
    }
    .p2-c4-a{
  
    }
    .p2-c4-a1{}
    .p2-c4-a1 h1{
      
    }
    .p2-c4-a1 p{
       
    }
    .p2-c4-a2{
       
    }
    .p2-c4-a2 h1{
        
    }
    .p2-c4-a2 h1 a{
     
    }
    .p2-c4-a2 h2{
     
    }
    .p2-c4-a2 h2 a{
     
    }
    .p2-c4-a2 h3{
     
    }
    .p2-c4-a2 h3 a{
      
    }
    .p2-c4-a3{}
    .p2-c4-a3 h2{
      
    }
    .p2-c4-a4{}
    .p2-c4-a4 ul{
     
    }
    .p2-c4-a4 ul li{}
    .p2-c4-b{
       
    }
    .p2-c4-b img{
       
    
    }
    
}